div[class^="react-multiselect-x-container"] {
  --padding: 1rem;
  font-family: inherit;
  font-size: 0.8rem;
  padding: var(--padding);
  width: 100%;
  position: relative;
  display: flex;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] {
  --borderRadius: 6px;
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 0.1px solid #c7c6c6;
  column-gap: 5px;
  border-radius: var(--borderRadius);
  cursor: text;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"]:focus {
  border: 0.1px solid #949393;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] {
  width: inherit;
  height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2px;
  background-color: transparent;
  padding: calc(var(--padding) / 3);
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"] {
  display: flex;
  border: 0.1px solid #c7c6c6;
  background-color: #eee;
  border-radius: var(--borderRadius);
  cursor: default;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"] span.value {
  padding: calc(var(--padding) / 3);
  font-size: inherit;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"] span.times {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(var(--padding) / 3);
  font-family: inherit;
  font-size: inherit;
  color: #333232;
  cursor: pointer;
  border-top-right-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"] span.times:hover {
  background-color: #ff8585;
  color: #b11616;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"].disabled span.value {
  color: #949393;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"].disabled span.times {
  color: #c7c6c6;
  cursor: default;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-button"].disabled span.times:hover {
  background-color: #eee;
  color: #c7c6c6;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-input"] {
  width: 100%;
  display: flex;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-input"] input {
  border: 0;
  width: 100%;
  outline: 0;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] {
  cursor: pointer;
  min-height: 50px;
  max-height: 150px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-radius: var(--borderRadius);
  animation: showBox 0.1s forwards;
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  align-items: center;
  animation: showBox 0.1s forwards;
  border: 0.1px solid #c7c6c6;
  border-top: 0;
  margin-top: 1px;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"]::-webkit-scrollbar {
  width: 5px;
  position: absolute;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"]::-webkit-scrollbar-track {
  background-color: #c7c6c6;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"]::-webkit-scrollbar-thumb {
  background-color: #949393;
  border-radius: 3px;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"] span {
  display: flex;
  cursor: pointer;
  transition: all 0.1s;
  width: 100%;
  padding: calc(var(--padding) / 3);
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"] span:hover {
  background-color: #c7c6c6;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"].selected {
  background-color: #eee;
  color: #949393;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"].disabled {
  background-color: #ffc1c1;
  color: #b11616;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"].disabled span {
  cursor: not-allowed;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] div[class^="react-multiselect-x-result-item"].disabled span:hover {
  background-color: #ffc1c1;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-values"] div[class^="react-multiselect-x-result-container"] .no-content {
  padding: calc(var(--padding) / 3);
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(50%);
  font-size: inherit;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] .stick {
  width: 1px;
  background-color: #c7c6c6;
  height: 100%;
  display: flex;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: calc(var(--padding) / 2.5);
  color: #333232;
  cursor: pointer;
  transition: all 0.1s;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] button.times:hover {
  color: #b11616;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] button.dropdown:hover {
  color: #333232;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"].disabled button {
  cursor: default;
  color: #949393;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"].disabled button:hover {
  color: #949393;
}

div[class^="react-multiselect-x-container"] div[class^="react-multiselect-x-input-container"] div[class^="react-multiselect-x-input-indicators"] div[class^="react-multiselect-x-loading-icon"] {
  padding: 0.1rem;
  margin: 0 0.2rem;
  border: 2px solid #eee;
  border-top: 2px solid #949393;
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  animation: spin 0.7s linear infinite;
}

@keyframes showBox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
